body {
	color: rgb(49, 49, 49);
	margin: 0px;
}

#mainScreenContainer {
	top: 50%;
	position: fixed;
	left: 50%;
	margin-left: -220px;
	margin-top: -230px;
}

#title {
	margin-bottom: 25px;
	height: 200px;
}

#choodeFileIcon {
	margin-left: auto;
	margin-right: auto;
	display: block
}

#inputTextFile {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: initial;
	vertical-align: bottom;
	color: white;
	border: solid 1px grey;
	border-radius: 5px;
	padding: 2px 4px;
	display: inline-block;
	width: 180px;
	height: 20px;
}

#submitIcon {
	margin-left: auto;
	margin-right: auto;
	display: block
}

a {
	color: inherit;
	text-decoration: none;
}

#form {
	display: none;
}

::-webkit-input-placeholder { /*input placeholder*/
	color: white;
}

.backgroundColor {
	background-color: #c3b59b;
}

#subTitle {
	font-size: 16px;
}

#errorNotification {
	color: red;
	display: none;
	font-size: 18px;
	padding-top: 4px;
	position: absolute;
}

#footer {
	width: 100%;
	height: 15%;
	display: none;
	position: absolute;
	bottom: 10px;
}

#header {
	width: 100%;
	height: 20%;
}

#container {
	display: none;
	background: white;
	height: 80%;
	width: 100%;
	min-width: 700px;
	overflow: hidden;
	_width: 700px; /* min-width for IE6 */
}

#viewContainer {
	height: 435px;
}

#details {
	border: 1px solid lightgray;
	border-radius: 7px;
	background-color: white;
	overflow-y: auto;
	display: inline-block;
	height: 100%;
	width: 80%;
	min-height: 100px;
	float: left;
	margin-left: 20px;
	padding: 10px
}

#amountKey {
	display: inline-block;
	color: black;
}

#srcKey {
	display: inline-block;
	color: blue;
}

#trgKey {
	display: inline-block;
	color: orange;
}

#resKey {
	display: inline-block;
	color: green;
}

hr {
	color: lightgray;
	background: lightgray;
	height: 1px;
	border: 0px;
}

#buttonsPlan {
	display: none;
	width: 9%;
	float: right;
	padding-right: 60px
}

.buttonStyle {
	width: 120px;
	height: 30px;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
	border-radius: 4px;
	margin-bottom: 6px;
	margin-top: 12px;
}

.circle {
	width: 20px;
	height: 20px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-right: 5px
}

#indexTemporal {
	display: none;
	width: 9%;
	float: right;
	padding-right: 65px;
	margin-top: 20px;
}

#srcIcon {
	background-color: blue;
	display: inline-block;
}

#trgIcon {
	background-color: orange;
	display: inline-block;
}

.indexTitle {
	display: inline-block;
	font-size: 16px;
	padding-bottom: 10px;
	vertical-align: middle;
}

.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 5px;
}

.node rect {
	fill: #000;
	stroke: steelblue;
	stroke-width: 20px;
}

.node text {
	font-size: 17px;
	font-family: sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show {
	display: block;
}

.ghostCircle,.activeDrag .ghostCircle {
	display: none;
}

.pane {
	display: none; /* will appear when layout inits */
}