.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	opacity: 1;
}

.axis text {
	font-size: 10px;
}

body {
	font: 12px sans-serif;
}

.circles {
	opacity: .5;
	z-index: 900;
}

.tipsy {
	font-size: 11px;
	margin-top: -10px;
}

.guide line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	opacity: 0;
}

.grid{
	color: red;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}

.grid path {
	stroke-width: 0;
}

.detailsAlignment{
	margin-left: 45px
}
